<div class= "container text-center">
    <h1>About Page</h1>
    <p>We are Intertia Analytics, we give projects momentum by creating a unique platform where 
    entrepreneurs and developers can meet and collaborate.</p>
</div>